@keyframes color-me-in {
  0% {
    background: orange;
    margin-top: 0;
    margin-right: 0; }
  25% {
    background: blue;
    margin-top: 50px;
    margin-right: 200px; }
  75% {
    background: indianred;
    margin-top: 100px;
    margin-right: 850px; }
  100% {
    background: black;
    margin-top: 150px;
    margin-right: 1700px; }
  150% {
    background: black;
    margin-top: 50px;
    margin-right: 200px; } }

@keyframes jump {
  0% {
    margin-top: 0;
    margin-left: 0;
    transform: scale(1, 1); }
  25% {
    margin-top: 50px;
    margin-left: 200px;
    transform: scale(0.5, 2); }
  75% {
    margin-top: 100px;
    margin-left: 850px;
    transform: scale(1.5, 2); }
  100% {
    margin-top: 150px;
    margin-left: 1700px;
    transform: scale(1.8, 2); }
  150% {
    margin-top: 50px;
    margin-left: 200px;
    transform: scale(1, 1); } }

@keyframes moveCircle {
  0% {
    top: 50px;
    margin-right: 300px;
    animation-timing-function: ease-out; }
  50% {
    top: 50px;
    margin-right: 900px;
    animation-timing-function: ease-in; }
  100% {
    top: 50px;
    margin-right: 300px; } }

.circle {
  float: right;
  width: 100px;
  height: 100px;
  background: navajowhite;
  opacity: 0.7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.circle2 {
  width: 150px;
  height: 150px;
  background: yellow;
  opacity: 0.7;
  -webkit-border-radius: 75%;
  -moz-border-radius: 75%;
  -ms-border-radius: 75%;
  -o-border-radius: 75%;
  border-radius: 75%; }

.circle3 {
  float: right;
  width: 200px;
  height: 200px;
  background: mediumslateblue;
  opacity: 0.7;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%; }

.circle {
  -webkit-animation: color-me-in ease-in 5s infinite; }

.circle2 {
  -webkit-animation: jump 5s infinite alternate; }

.circle3 {
  -webkit-animation: moveCircle 3s infinite alternate-reverse; }

@keyframes xAxis {
  50% {
    animation-timing-function: ease-in;
    transform: translateX(200px) rotate(50deg); }
  100% {
    animation-timing-function: ease-in;
    transform: translateX(500px) rotate(200deg); }
  150% {
    animation-timing-function: ease-in;
    transform: translateX(800px) rotate(150deg); }
  250% {
    animation-timing-function: ease-in;
    transform: translateX(800px) rotate(200deg); }
  300% {
    animation-timing-function: ease-in;
    transform: translateX(500px) rotate(350deg); }
  350% {
    animation-timing-function: ease-in;
    transform: translateX(200px) rotate(400deg); } }

@keyframes yAxis {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(-200px) rotate(50deg); }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(-400px) rotate(200deg); }
  150% {
    animation-timing-function: ease-in;
    transform: translateX(-800px) rotate(150deg); }
  250% {
    animation-timing-function: ease-in;
    transform: translateX(-800px) rotate(200deg); }
  300% {
    animation-timing-function: ease-in;
    transform: translateX(-400px) rotate(350deg); }
  350% {
    animation-timing-function: ease-in;
    transform: translateX(-200px) rotate(400deg); } }

.rectangle {
  width: 200px;
  height: 100px;
  background-color: lightskyblue;
  opacity: 0.7; }

.rectangle {
  -webkit-animation: xAxis 2.5s infinite ease-in;
  -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64); }

.rectangle::after {
  -webkit-animation: yAxis 2.5s infinite ease-out;
  -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64); }

@keyframes mymove {
  0% {
    margin-left: 200px;
    margin-top: 0; }
  25% {
    margin-left: 400px;
    margin-top: -300px; }
  50% {
    margin-left: 800px;
    margin-bottom: -300px; }
  100% {
    margin-left: 200px;
    margin-top: 0; } }

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid forestgreen;
  opacity: 0.7; }

.triangle {
  -webkit-animation: mymove 5s infinite alternate; }

body {
  margin: 0;
  padding: 0; }

@keyframes slideRightDown {
  0% {
    margin-left: 0;
    margin-top: 0;
    transform: rotate(0deg) scale(1, 1); }
  25% {
    margin-left: 318px;
    margin-top: 125px;
    transform: rotate(45deg) scale(1.5, 2); }
  50% {
    margin-left: 637px;
    margin-top: 250px;
    transform: rotate(80deg) scale(1.7, 2); }
  100% {
    margin-left: 1175px;
    margin-top: 500px;
    transform: rotate(160deg) scale(2, 2); } }

@keyframes slideSquare {
  0% {
    top: 50px;
    margin-left: 200px;
    animation-timing-function: ease-in; }
  50% {
    top: 50px;
    margin-left: 800px;
    animation-timing-function: ease-out; }
  100% {
    top: 50px;
    margin-left: 200px; } }

.container {
  width: 80%;
  margin: 0 auto; }

.square {
  width: 100px;
  height: 100px;
  background-color: red;
  opacity: 0.7; }

.square2 {
  width: 80px;
  height: 80px;
  background-color: coral;
  opacity: 0.7; }

.square {
  /*The name of your defined animation (after @keyframes)*/
  -webkit-animation-name: slideRightDown;
  /*How long the animation will run*/
  -webkit-animation-duration: 5s;
  /*Which easing/timing function to use */
  -webkit-animation-timing-function: linear;
  /*How long to wait before starting the animation*/
  -webkit-animation-delay: 2s;
  /*how many times to run it (can be infinite)*/
  -webkit-animation-iteration-count: infinite;
  /*should animation play in reverse on alternate runs */
  -webkit-animation-direction: alternate;
  /*should the animation start of running or paused */
  -webkit-animation-play-state: running; }

.square2 {
  -webkit-animation-name: slideSquare;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite; }
